.card-column {
    float: left;
    width: 24%;
    text-align: center;
    border-right-style: solid;
    border-left-style: solid;

}

.row {
    display: flex;
    justify-content: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-header {
    text-align: center;
}