.card-column {
    float: left;
    width: 24%;
    text-align: center;
    border-left-style: solid;
    border-right-style: solid;
    height: 700px;

}

.column-content {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure the content takes full height of the container */
}

.scroll-column {
    flex: 1; /* Make the scroll container take up remaining space */
    overflow-y: auto; /* Enable vertical scrolling for the entire column */
    height: 610px
}

.scrollable-content {
    overflow-y: auto; /* Enable vertical scrolling for the content */
    padding-bottom: 10px; /* Add some bottom padding to prevent content from being partially hidden under the scrollbar */
  }

.row {
    display: flex;
    justify-content: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-header {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-style: solid;
}

.column-price {
    text-align: center;
    border-top-style: solid;
}

.time-cost-filter-widgets {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.total-price, .countdown-clock, .filter {
    margin-right: 100px;
    padding: 15px
}

.navbar {
    display: flex;
    justify-content: left;
}

.nav-button {
    padding: 10px;
}

.card {
    border-style: solid;
    display: inline-block;
    width: 90%;
    height: 150px;
    margin: 2px;
    transition: border-color 0s ease-in-out; /* Smooth transition for the border color change */
}

.card:hover {
    border-color: #11181f; /* Change to the desired highlight color on hover */
    border-width: 3px
}

.card-container {
    display: block;
}

.card-title {
    text-align: center
}

.card-content {
    float: left;
    margin: 0;
    text-align: left
}

.card-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-form {
    height: 30%;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.card-form label {
    display: block; /* Ensure each label is on a new line */
    padding: 3px;
}
  
.card-form input {
    width: 100%; 
    padding: 8px;
}

.card-form select {
    width: 100%; /* Make input fill the container */
    padding: 8px;
}

.form-error-text {
    color: red
}
  
.card-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0s ease-in-out; /* Smooth transition for the border color change */
}

.card-form button:hover {
    background-color: #f5d1d5;
}


